body {
            font-family: Arial, sans-serif;
            margin: 40px;
            background-color: #f5f5f5;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;

        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .catalog {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .item {
            background: white;
            border: 1px solid #ddd;
            border-radius: 6px;
            width: 250px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            overflow: hidden;
            transition: transform 0.2s ease;
        }

        .item:hover {
            transform: translateY(-4px);
        }

        .info {
            padding: 15px;
        }


        button {
            background-color: #007B00;
            color: white;
            padding: 12px 24px;
            font-size: 16px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
            display: block;
            margin: 0 auto;
        }
        
        a {
            text-decoration: none; /* Entfernt Unterstrich */
        }

        button:hover {
            background-color: #45a049;
            transform: scale(1.05);
        }

        button:active {
            transform: scale(0.98);
        }